<head>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<div class="face-capture">
  <video id="player" controls autoplay></video>
  <canvas id="canvas" width=320, height=240></canvas>
  <button id="capture">Capture</button>
</div>


<!--
<div class="registration">
  <form id="registration-form" action="/" method="post">
    <input type="email" name="email" value="" placeholder="email">
    <input type="text" name="username" value="" placeholder="username">
    <input type="password" name="password" value="" placeholder="password">
    <input type="password" name="confirm-password" value="" placeholder="confirm password">
    <button type="submit" name="button"> Submit </button>
  </form>
</div>
 -->

<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');
  const registrationForm = document.getElementById('registration-form');
  const constraints = {
    video: true,
  };
  captureButton.addEventListener('click', () => {
    let playerWidth = $("#player").width();
    let playerHeight = $("#player").height();
    canvas.style.width = playerWidth;
    canvas.style.height = playerHeight;
    // Draw the video frame to the canvas.
    player.style.opacity = 0;
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    var dataURL = canvas.toDataURL("image/jpg");
    dataURL = dataURL.split(",")[1];
    console.log(dataURL)
    console.log()
  });

  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });


    
</script>
